.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .Label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .Label-Button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
   
  .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 20px;
  }